#latestBlogAndNewsPage {
    background-color: #070707;
    padding: 40px 0;

    h5,
    h1 {
        text-align: center;
    }

    .blogs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;

        .blog {
            display: flex;
            width: calc((100% / 2) - 15px);
            gap: 20px;
            padding: 10px;
            border-radius: 10px;

            .image {
                width: 100%;

                img {
                    width: 100%;
                    height: fit-content;
                }
            }
        }
    }

    @media only screen and (max-width: 1330px) {
        .blogs {
            gap: 10px;

        }
    }

    // @media only screen and (max-width: 1240px) {
    //     .blogs {

    //     }
    // }

    // @media only screen and (max-width: 768px) {
    //     .blogs {

    //         .blog {
    //             width: 49%;
    //         }
    //     }
    // }

    @media only screen and (max-width: 600px) {
        .blogs {
            flex-direction: column;

            .blog {
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 425px) {
        .blogs {
            .blog {
                .blogName {
                    font-size: 12px;
                }
            }
        }
    }
}