.homePage {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-color: #131313;

    .container {
        .firstSection {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            padding: 150px 5px 80px 5px;

            .leftDescription {
                width: 35%;
                min-width: 400px;

                h1,
                h2,
                h3 {
                    margin: 5px 0;
                }

                h2 {
                    font-size: 45px;
                    line-height: 54px;
                    letter-spacing: 0;
                    color: rgba(255, 255, 255, 0.35);
                    font-weight: 400;
                }

                h1 {
                    color: #c9f31d;
                    font-size: 65px;
                    font-weight: 700;
                }

                h3 {
                    font-weight: 700;
                    font-size: 65px;
                    color: #ffffff;
                    line-height: 60px;
                }

                p {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.35);
                    line-height: 30px;
                    margin: 20px 0;
                }

                button {
                    background-color: #c9f31d;
                    font-weight: 700;
                    border: none;
                    border-radius: 10px;
                    padding: 15px 0;
                    font-size: 16px;
                    width: 120px;
                    cursor: pointer;
                    margin-right: 40px;

                    svg {
                        transition: all 0.5s;
                    }

                    &:hover {
                        svg {
                            transform: translateX(8px);
                        }
                    }
                }

                a {
                    text-decoration: underline;
                    color: white;
                    transition: all 0.5s;

                    svg {
                        transition: all 0.5s;
                        font-size: 12px;
                        padding-left: 5px;
                    }

                    &:hover {
                        color: #c9f31d;

                        svg {
                            transform: translateX(5px);
                            color: #c9f31d;
                        }
                    }
                }
            }

            .centerImage {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 65%;

                img {
                    width: 60%;
                    height: fit-content;
                }

                .experience {
                    background-color: #070707;
                    padding: 20px 40px;
                    border-radius: 16px;

                    div {
                        padding: 10px 0;

                        p {
                            margin: 0;
                            color: rgba(255, 255, 255, 0.65);
                        }

                        .number {
                            font-weight: 500;
                            font-size: 40px;
                            color: #c9f31d;
                            padding-bottom: 8px;
                        }
                    }
                }
            }
        }

        .aboutMeSection {
            background-color: #070707;
            padding: 50px 5px 50px 5px;

            .container {
                padding: 20px 80px;
                max-width: 1500px;
                margin: 0 auto;
            }

            .sectionName {
                h5 {
                    font-size: 16px;
                    color: rgba(255, 255, 255, 0.65);
                }
            }

            .flex {
                display: flex;
                justify-content: space-between;
                // align-items: center;

                .left {
                    width: 50%;

                    h1 {
                        color: #ffffff;
                        font-size: 45px;
                        font-weight: 600;
                        line-height: 54px;

                        span {
                            color: #c9f31d;
                        }
                    }

                    p {
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.65);
                        line-height: 30px;
                    }

                    .checkDiv {

                        .check {
                            display: flex;
                            align-items: center;
                            color: white;

                            div {
                                width: 50%;
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                h2 {
                                    font-size: 20px;
                                    font-weight: 500;
                                    line-height: 30px;
                                }

                                svg {
                                    color: #c9f31d;
                                }
                            }
                        }
                    }

                    .contactMe {
                        background-color: #1F1F1F;
                        border-radius: 20px;
                        display: flex;
                        gap: 60px;
                        padding: 20px 40px;

                        svg {
                            background-color: #c9f31d;
                            padding: 10px;
                            border-radius: 50%;
                        }

                        p {
                            margin: 0;
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            transition: all 0.5s;

                            &:hover {
                                color: #c9f31d;
                            }
                        }

                        .mail,
                        .phone {
                            display: flex;
                            gap: 10px;
                            align-items: center;
                        }
                    }
                }

                .right {
                    position: relative;

                    .animatedImage {
                        position: absolute;
                        top: 100px;
                        left: -100px;
                        animation: infinityLood linear 10s infinite;
                    }

                    .image {
                        img {
                            border-radius: 10px;
                        }
                    }

                    .myName,
                    .myRole {
                        background-color: #ffffff;
                        width: 250px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 4px 10px;
                        border-radius: 32px;
                        z-index: 2;

                        h4 {
                            margin: 0;
                        }

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }

                    .myName {
                        position: absolute;
                        top: 240px;
                        left: -100px;
                    }


                    .myRole {
                        position: absolute;
                        top: 350px;
                        left: -150px;
                        padding: 8px 10px;

                        .image {
                            color: #c9f31d;
                        }
                    }
                }
            }
        }
    }
}

@keyframes infinityLood {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}