.homePage {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-color: #131313;
    overflow: hidden;

    p {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.65);
        line-height: 30px;
    }

    h1 {
        color: #ffffff;
        font-size: 45px;
        font-weight: 600;
        line-height: 54px;
        margin: 30px 0;

        span {
            color: #c9f31d;
        }

        @media only screen and (max-width: 768px) {
            font-size: 40px !important;
        }

        @media only screen and (max-width: 425px) {
            font-size: 32px !important;
        }
    }

    .container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 50px 80px;

        @media only screen and (max-width: 1100px) {
            padding: 50px 15px !important;
        }
    }

    .sectionName {
        h5 {
            font-size: 16px;
            margin: 0;
            color: rgba(255, 255, 255, 0.65);
        }
    }

    .firstSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 10px;
        max-width: 1500px;
        margin: 0 auto;
        padding: 110px 5px 80px 5px;

        .leftDescription {
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            .centerImage {
                width: 70%;

                img {
                    width: 100%;
                    height: fit-content;
                }

            }

            h1,
            h2,
            h3 {
                margin: 5px 0;
            }

            h2 {
                font-size: 45px;
                line-height: 54px;
                letter-spacing: 0;
                color: rgba(255, 255, 255, 0.35);
                font-weight: 400;


                @media only screen and (max-width: 1200px) {
                    font-size: 40px !important;
                }
            }

            h1 {
                color: #c9f31d;
                font-size: 65px;
                font-weight: 700;

                @media only screen and (max-width: 1200px) {
                    font-size: 55px !important;
                }
            }

            h3 {
                font-weight: 700;
                font-size: 65px;
                color: #ffffff;
                line-height: 60px;


                @media only screen and (max-width: 1200px) {
                    font-size: 45px !important;
                }
            }

            p {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.35);
                line-height: 30px;
                margin: 20px 0;
            }

            button {
                background-color: #c9f31d;
                font-weight: 700;
                border: none;
                border-radius: 10px;
                padding: 15px 0;
                font-size: 16px;
                width: 120px;
                cursor: pointer;
                margin-right: 40px;

                svg {
                    transition: all 0.5s;
                }

                &:hover {
                    svg {
                        transform: translateX(8px);
                    }
                }
            }

            a {
                text-decoration: underline;
                color: white;
                transition: all 0.5s;

                svg {
                    transition: all 0.5s;
                    font-size: 12px;
                    padding-left: 5px;
                }

                &:hover {
                    color: #c9f31d;

                    svg {
                        transform: translateX(5px);
                        color: #c9f31d;
                    }
                }
            }
        }

        .experience {
            background-color: #070707;
            padding: 20px 40px;
            border-radius: 16px;

            div {
                padding: 10px 0;

                p {
                    margin: 0;
                    color: rgba(255, 255, 255, 0.65);
                }

                .number {
                    font-weight: 600;
                    font-size: 40px;
                    color: #c9f31d;
                    padding-bottom: 8px;
                }
            }
        }

        @media only screen and (max-width: 1100px) {

            .leftDescription {
                gap: 5px;

                h1 {
                    font-size: 45px !important;
                }

                h2 {
                    font-size: 30px !important;
                }

                h3 {
                    font-size: 40px !important;
                }

                button {
                    padding: 10px 0;
                }
            }
        }

        @media only screen and (max-width: 1000px) {
            flex-wrap: wrap;

            .leftDescription {
                width: 100%;
            }

            .experience {
                width: 100%;
                text-align: center;
            }
        }

        @media only screen and (max-width: 768px) {
            .leftDescription {

                h1,
                h3 {
                    font-size: 40px !important;
                }

                h2 {
                    font-size: 30px !important;
                }
            }
        }

        @media only screen and (max-width: 700px) {
            padding: 110px 15px 80px 15px !important;

            .leftDescription {
                width: 100%;
                flex-wrap: wrap;

                .centerImage {
                    padding-top: 20px;
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: 425px) {
            .leftDescription {

                h1,
                h3 {
                    font-size: 32px !important;
                }
            }
        }
    }

    .aboutMeSection {
        background-color: #070707;

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                width: 50%;

                .checkDiv {

                    .check {
                        display: flex;
                        align-items: center;
                        color: white;

                        div {
                            width: 50%;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            h2 {
                                font-size: 20px;
                                font-weight: 500;
                                line-height: 30px;
                            }

                            svg {
                                color: #c9f31d;
                            }
                        }
                    }
                }

                .contactMe {
                    background-color: #1F1F1F;
                    border-radius: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 60px;
                    padding: 20px 40px;

                    svg {
                        background-color: #c9f31d;
                        padding: 10px;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                    }

                    a {
                        text-decoration: none;
                        color: white;
                        transition: all 0.5s;

                        &:hover {
                            color: #c9f31d;
                        }
                    }

                    .mail,
                    .phone {
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        min-width: 200px;
                    }
                }
            }

            .right {
                position: relative;

                .animatedImage {
                    position: absolute;
                    top: 100px;
                    left: -100px;
                    animation: infinityLood linear 10s infinite;
                }

                .image {

                    img {
                        border-radius: 10px;
                    }
                }

                .myName,
                .myRole {
                    background-color: #ffffff;
                    width: 250px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 4px 10px;
                    border-radius: 32px;
                    z-index: 2;

                    h4 {
                        margin: 0;
                    }

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }
                }

                .myName {
                    position: absolute;
                    top: 240px;
                    left: -100px;
                }


                .myRole {
                    position: absolute;
                    top: 350px;
                    left: -150px;
                    padding: 8px 10px;

                    .image {
                        color: #c9f31d;
                    }
                }
            }

            @media only screen and (max-width: 1200px) {
                .right {
                    .myName {
                        left: -50px;
                    }

                    .myRole {
                        left: -70px;
                    }
                }
            }

            @media only screen and (max-width: 970px) {
                flex-direction: column;

                .left {
                    width: 100%;
                }

                .right {
                    padding-top: 40px;
                }
            }

            @media only screen and (max-width: 650px) {
                .right {
                    .animatedImage {
                        top: 50px;
                        left: -40px;
                    }

                    .myName {
                        top: 420px;
                        left: -10px !important;
                    }

                    .myRole {
                        top: 500px;
                        left: -10px;
                    }
                }
            }

            @media only screen and (max-width: 475px) {
                .left {
                    .checkDiv {
                        margin-bottom: 25px;

                        .check {
                            flex-direction: column !important;

                            div {
                                width: 100%;
                            }
                        }
                    }
                }

                .right {
                    padding: 60px 0 0 0;

                    .image {
                        width: 100%;

                        img {
                            width: 100%;
                            height: fit-content;
                        }
                    }

                    .animatedImage {
                        top: 15px;
                        left: 10px;
                    }

                    .myName {
                        width: 200px;
                        padding: 2px 8px;
                        top: 200px;
                        left: -100px !important;
                    }

                    .myRole {
                        top: 260px;
                        left: -90px;
                    }
                }
            }
        }
    }

    .myResumeSection {
        .flex {
            display: flex;
            gap: 8%;

            .leftLogo {
                height: fit-content;
                padding: 40px;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.35);
                background-color: #1F1F1F;

                svg {
                    width: 180px;
                    height: 180px;
                    color: #c9f31d;
                }
            }

            .right {
                .resumeCard {
                    background-color: #1F1F1F;
                    display: flex;
                    gap: 60px;
                    padding: 60px;
                    border-radius: 30px;

                    .card {
                        display: flex;
                        gap: 20px;
                        align-items: flex-start;
                        padding-top: 40px;

                        &:nth-child(1) {
                            padding-top: 0;
                        }

                        &:hover {
                            .icon {
                                background-color: #c9f31d;

                                svg {
                                    color: black;
                                }
                            }
                        }

                        .name {
                            p {
                                margin: 0;
                            }

                            h3 {
                                color: #ffffff;
                                margin: 5px 0;
                                font-size: 24px;
                            }
                        }

                        .icon {
                            background-color: #131313;
                            padding: 10px;
                            border-radius: 50%;
                            width: 40px;
                            text-align: center;
                            transition: all 0.5s;

                            svg {
                                color: #1F1F1F;
                            }
                        }
                    }
                }
            }

            @media only screen and (max-width: 1000px) {
                flex-wrap: wrap;

                .right {
                    width: 100%;
                    padding-top: 40px;

                    .resumeCard {
                        gap: 20px;
                    }
                }
            }

            @media only screen and (max-width: 900px) {
                .right {
                    .resumeCard {
                        padding: 20px;
                    }
                }
            }

            @media only screen and (max-width: 800px) {
                .right {
                    hr {
                        display: none;
                    }

                    .resumeCard {
                        width: fit-content;
                        margin: 0 auto;
                        flex-direction: column;
                        padding: 50px;
                        width: 100%;
                    }
                }
            }

            @media only screen and (max-width: 490px) {
                .right {
                    .resumeCard {
                        padding: 20px;
                    }
                }
            }
        }
    }

    .popularServicesSection {
        .sectionName {
            text-align: center;
        }

        .headText {
            width: 50%;
            text-align: center;
            margin: 0 auto;
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;

            .card {
                display: flex;
                justify-content: space-between;
                width: calc((100% / 2) - 20px);
                background-color: #1F1F1F;
                border: 1px solid rgba(255, 255, 255, 0.1);
                border-radius: 20px;
                padding: 30px;
                transition: all 0.5s;

                &:hover {
                    border: 1px solid #c9f31d;

                    .icon {
                        background-color: #c9f31d;

                        svg {
                            color: black;
                        }
                    }
                }

                .number {
                    color: white;
                    font-size: 24px;
                }

                .icon {
                    background-color: #131313;
                    height: fit-content;
                    padding: 15px;
                    border-radius: 50%;
                    transition: all 0.5s;
                    cursor: pointer;

                    svg {
                        transition: all 0.5s;
                        color: white;
                        width: 20px;
                        height: 20px;
                    }
                }

                .serviceName {

                    h2,
                    p {
                        margin: 0;
                    }

                    h2 {
                        font-size: 24px;
                        line-height: 26.4px;
                        color: white;
                    }
                }
            }
        }

        @media only screen and (max-width: 900px) {
            .headText {
                width: 100%;
            }

            .cards {
                flex-direction: column;

                .card {
                    margin: 0 auto;
                    width: 90%;
                }
            }
        }

        @media only screen and (max-width: 520px) {
            .cards {
                .card {
                    width: 100%;
                }
            }
        }

        @media only screen and (max-width: 425px) {
            .cards {
                .card {
                    h2 {
                        font-size: 20px !important;
                    }

                    p {
                        font-size: 12px !important;
                    }

                    .number {
                        font-size: 20px !important;
                    }
                }
            }
        }

        @media only screen and (max-width: 400px) {
            .cards {
                .card {
                    flex-direction: column;

                    .serviceName {
                        margin-top: 10px;
                    }

                    .icon {
                        margin-top: 10px;
                        width: fit-content;
                    }
                }
            }
        }
    }

    .mySkills {
        background-color: #070707;

        .container {
            display: flex;
            gap: 40px;

            .left {
                width: 35%;
            }

            .rightSkills {
                width: 62%;

                .skills {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    .skill {
                        width: calc((100% / 4) - 15px);
                        background-color: #1F1F1F;
                        padding: 10px;
                        border-radius: 20px;
                        border: 1px solid rgba(255, 255, 255, 0.35);
                        transition: border 0.5s;

                        &:hover {
                            border: 1px solid #c9f31d;

                            .skillPercentage {
                                background-color: #c9f31d;
                                color: black;
                            }
                        }

                        .skillLogo {
                            text-align: center;

                            img {
                                width: 110px;
                                height: 110px;
                            }
                        }

                        .skillName {
                            h4 {
                                text-align: center;
                                color: white;
                                margin: 0;
                                margin-bottom: 10px;
                                font-size: 20px;
                                line-height: 28px;
                            }
                        }

                        .skillPercentage {
                            background-color: #131313;
                            color: rgba(255, 255, 255, 0.65);
                            text-align: center;
                            border-radius: 20px;
                            padding: 10px 0;
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }

    .latestWorksSection {
        .container {

            .sectionName,
            .headText {
                text-align: center;
            }

            .projects {
                padding-top: 40px;

                .project {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 95px;
                    padding-bottom: 80px;

                    .projectDescription {
                        width: 40%;

                        b {
                            color: #c9f31d;
                            font-size: 16px;
                            line-height: 30px;
                        }

                        a {
                            display: block;
                            width: fit-content;
                            text-decoration: none;
                            color: #ffffff;
                            font-weight: 500;
                            line-height: 54px;
                            font-size: 45px;
                            transition: color 0.5s;
                            margin-top: 15px;

                            &:hover {
                                color: #c9f31d;
                            }
                        }

                        .icon {
                            margin-top: 40px;
                            width: fit-content;

                            &:hover {
                                a {
                                    background-color: #c9f31d;

                                    svg {
                                        color: black;
                                    }
                                }
                            }

                            a {
                                padding: 5px;
                                border-radius: 50%;
                                background-color: #070707;
                                color: #1F1F1F;
                                cursor: pointer;
                                text-align: center;
                                width: fit-content;
                                width: 65px;
                                border: 1px solid rgba(255, 255, 255, 0.35);
                                transition: all 0.5s;

                                svg {
                                    transition: all 0.5s;
                                    width: 25px;
                                    color: rgba(255, 255, 255, 0.65);
                                }
                            }
                        }
                    }
                }
            }

            .viewMoreButton {
                text-align: center;

                .btn {
                    text-decoration: none;
                    background-color: #c9f31d;
                    border-radius: 15px;
                    padding: 10px 20px;
                    transition: all 0.5s;
                    color: black;

                    svg {
                        transition: all 0.5s;
                        font-size: 13px;
                    }

                }

                &:hover {
                    svg {
                        transform: translateX(5px);
                    }
                }
            }
        }
    }
}

@keyframes infinityLood {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}