.header {
  padding: 0 5% !important;
  #header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      a {
        font-size: 25px;
        font-weight: 700;
        h1 {
          background: linear-gradient(
            to right,
            #6441a5 20%,
            #ba8b02 40%,
            #4b79a1 60%,
            #6a9113 80%
          );
          background-size: 200% auto;
          color: #000;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: shine 4s linear infinite;
          @keyframes shine {
            to {
              background-position: 200% center;
            }
          }
        }
      }
    }
    nav {
      a {
        font-size: 18px;
        margin-left: 25px;
        font-weight: 600;

        &.active {
          color: goldenrod;
          text-decoration: underline;
          text-decoration-color: gold;
          transition: all 0.5s ease-in;
        }
      }
      @media only screen and (max-width: 440px) {
        display: none;
      }
    }

    .fa-bars {
      display: none;
      font-size: 24px;
      cursor: pointer;
      @media only screen and (max-width: 440px) {
        display: block;
      }
    }
  }
}

.chakra-modal__header {
  background-color: #000;
  color: white;
}
.chakra-modal__body {
  display: flex;
  flex-direction: column;
  background-image: url("https://wallpapercave.com/wp/wp1828920.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  a {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    color: white;
    margin-top: 20px;
    padding: 2%;
    transition: all 0.3s ease-in;

    &:hover {
      background-color: #4b79a1;
    }
  }
  .home {
    i {
      margin-left: 16px;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}
